# configs/lede/raspberrypi-4b.config
CONFIG_TARGET_bcm27xx=y
CONFIG_TARGET_bcm27xx_bcm2711=y
CONFIG_TARGET_bcm27xx_bcm2711_DEVICE_rpi-4=y

# 板载 WiFi (brcmfmac 43455)
CONFIG_PACKAGE_kmod-brcmfmac=y
CONFIG_PACKAGE_brcmfmac-firmware-43455-sdio=y
CONFIG_PACKAGE_brcmfmac-nvram-43455-sdio=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y

# 板载蓝牙 (可选)
CONFIG_PACKAGE_kmod-bluetooth=y

# USB 3.0 + 网卡
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-lan78xx=y

# eMMC / SD
CONFIG_PACKAGE_kmod-mmc=y

# 性能
CONFIG_PACKAGE_kmod-tcp-bbr=y
