# Shared ImmortalWrt build options

CONFIG_DEVEL=y
CONFIG_CCACHE=y
CONFIG_CCACHE_DIR="$HOME/.ccache"

CONFIG_IMAGEOPT=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="Jas0n0ss"
CONFIG_VERSION_REPO="https://github.com/Jas0n0ss/openwrt-ci/releases"
CONFIG_VERSION_MANUFACTURER="Jas0n0ss"
CONFIG_VERSION_PRODUCT="Jas0n0ss"

CONFIG_DEBUG=y
CONFIG_DEBUG_INFO=n
