# configs/immortalwrt/xiaomi-cr660x.config
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-cr6606=y

# WiFi 驱动 (AX1800: MT7905/MT7975)
CONFIG_PACKAGE_kmod-mt7915e=y
CONFIG_PACKAGE_kmod-mt7921e=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y

# NAND
CONFIG_PACKAGE_kmod-mtd-rw=y
CONFIG_PACKAGE_uboot-envtools=y
