# configs/immortalwrt/xiaomi-ax9000.config
CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_DEVICE_xiaomi_ax9000=y

# WiFi 驱动
CONFIG_PACKAGE_ath11k-firmware-ipq8074=y
CONFIG_PACKAGE_ath11k-firmware-qcn9074=y
CONFIG_PACKAGE_kmod-ath11k=y
CONFIG_PACKAGE_kmod-ath11k-ahb=y
CONFIG_PACKAGE_kmod-ath11k-pci=y
CONFIG_PACKAGE_ath11k-board-2.bin=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y

# 平台基础
CONFIG_PACKAGE_kmod-qca-nss-drv=y
CONFIG_PACKAGE_kmod-qca-nss-gmac=y
