# configs/immortalwrt/xiaomi-ax6000.config
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_xiaomi_mi-router-ax6000=y

# WiFi 驱动 (MT7986A + MT7976C)
CONFIG_PACKAGE_kmod-mt7915e=y
CONFIG_PACKAGE_kmod-mt7986-firmware=y
CONFIG_PACKAGE_mt7986-wo-firmware=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y

# UBI / NAND
CONFIG_PACKAGE_kmod-mtd-rw=y
CONFIG_PACKAGE_uboot-envtools=y
